extends layout

block content
  h1 Sign Up
  - if (message.length > 0)
    p
      = message
  form(action="/signup" method="post")
    div
      label Email:
      input(type="text" name="username") 
    div
      label Password:
      input(type="password" name="password")
    div
      label Confirm Password:
      input(type="password" name="checkpassword")
    div 
      input(type="submit" value="Log In")
  p 
    | Already have an account?
    a(href="/login") Log in.
  p
    | Return 
    a(href="/") home.
